.book {
    background-color: aqua;
    padding: 20px;
    width: 300px;
    height: 300px;
}

.book-thumbnail {
    width: 150px;
    height: 200px;
}

.book-thumbnail-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px
}

.book-title {
    text-align: center;
}

.book-authors {}